@import url(../css/clash-display.css);

:root {
    --c-dark: #212529;
    --c-brnad: #5e68d4;
    --c-brnad-light: #6970dd;
    --c-brand-rgb: 78, 87, 212;
    --c-body: #727272;
    --font-base: "ClashDisplay", sans-serif;
    --box-shadow: 0 15px 25px rgba(0, 0, 0.2, 0.5);
    --transition: all 0.5s ease;
    --white-color: #fff;
    --service-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.theme-shadow {
    box-shadow: var(--box-shadow);
}

.shadow {
    box-shadow: var(--service-shadow);
}

/* IMAGE ZOOM  */
.image-zoom {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper {
    position: relative;
    overflow: hidden;
}

.image-zoom-wrapper img {
    transition: var(--transition);
}

.image-zoom:hover .image-zoom-wrapper img {
    transform: scale(1.1);
}

body {
    font-family: var(--font-base);
    line-height: 1.7;
    color: var(--c-body); 
}

h1,
h2,
h3,
h4,
h5,
.h1 .h2 .h3 .h4 .h5 .h6 {
    font-weight: 600;
    color: var(--c-dark);
}

a {

    text-decoration: none;
    color: var(--c-brnad);
    transition: var(--transition);
}

a:hover {
    color: var(--c-brnad-light);
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding {
    padding: 140px 0 140px 0;
}


/*HEADER SECTION START   */
.navbar-nav .nav-link {
    font-weight: 500;
    color: var(--c-dark);
    font-size: 18px;
    margin: 0 5px;
}

.navbar-nav .nav-link:hover {
    color: var(--c-brnad);
    transition: var(--transition);
}

.navbar-nav .nav-link.active {
    color: var(--c-brnad);

}

/*button*/
.btn {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    color: var(--white-color);
    border-color: var(--c-brnad-light);
    padding: 14px 25px;
    border-radius: 0;
}

.btn:hover {
    color: var(--c-dark);
}

.btn-brand {
    background-color: var(--c-brnad);
    color: var(--white-color) !important;
    border-color: var(--c-brnad-light);
}

.btn-brand:hover {
    border-color: 2px solid var(--c-brnad-light);
    color: var(--c-dark) !important;
    border-color: var(--c-brnad-light) !important;
}

#nav-btn:hover{
    color: var(--c-dark) !important;
}
/*HEADER SECTION END   */


/*HERO SECTION START   */
.hero-section {
    background: linear-gradient(rgba(48, 112, 144, 0.57), rgba(0, 0, 0, 0.438)), url(../images/hero-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.btn-brand:hover {
    border-color: var(--white-color);
    color: var(--white-color) !important;
}

.btn-light:hover {
    background: transparent;
    border-color: var(--c-brnad-light);
    color: var(--white-color) !important;
}

/*HERO SECTION END   */

/*ABOUT SECTION START   */
.about{
    overflow: hidden;
}
.section-title {
    margin-bottom: 40px;

}

.section-title .line {
    width: 80px;
    height: 10px;
    background-color: var(--c-brnad);
    margin: 14px auto 24px auto;
}

/* .section-title p{
    margin-left: auto !important;
    margin-right: auto !important;
} */

/* ICONS */
.icons {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(var(--c-brand-rgb), 0.1);
    cursor: pointer;
    color: var(--c-brnad);
    font-size: 40px;
    flex-shrink: 0;
}


/*ABOUT SECTION END   */

/*SERVIES SECTION START   */
.service-section{
    overflow: hidden;
}
.services {
    position: relative;
    overflow: hidden;
    z-index: 2;
    box-shadow: var(--service-shadow);
}

.services::after {
    content: "";
    width: 40px;
    height: 40px;
    background-color: rgba(var(--c-brand-rgb), 0.2);
    position: absolute;
    bottom: 0;
    right: 0;
    transition: var(--transition);
}

.services:hover::after {
    width: 100%;
    height: 100%;
    background-color: var(--c-brnad);
    z-index: -1;
}

.services:hover h4,
.services:hover p {
    color: var(--white-color);
}

.services:hover .icons {
    background-color: rgba(255, 255, 255, 0.2);
    color: var(--white-color);
}

/*SERVIES SECTION END   */

/*COUNTER   SECTION START   */
.counter-section {
    background: linear-gradient(rgba(48, 112, 144, 0.5), rgba(0, 0, 0, 0.5)), url(../images/conter-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

/*COUNTER   SECTION END   */

/*PORTFOLIO SECTION START   */
.portfolio-section{
    overflow: hidden;
}
.portfolio-item .icons {
    position: absolute;
    left: 50%;
    top: 40%;
    background-color: var(--c-brnad);
    color: var(--white-color);
    transform: translate(-50%, -50%);
    opacity: 0;
}

.portfolio-item:hover .icons {
    opacity: 1;
    top: 50%;
    transition: var(--transition);
}

/*PORTFOLIO SECTION END   */

/*REVIEW SECTION START   */
.testimonial-section { 
    overflow: hidden;
}
.person img {
    width: 80px;
    height: 85px;
}

.review-head {
    position: relative;
}

.review-head::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    background-color: var(--white-color);
    bottom: -14px;
    transform: rotate(45deg);
}

/*REVIEW SECTION END   */

/*TEAM SECTION START   */
.team-section{
    overflow: hidden;
}
.team-member-content {
    background-color: var(--c-brnad);
    position: absolute;
    bottom: -24px;
    left: 50%;
    width: calc(100% - 50px);
    transform: translate(-50%);
    padding: 15px 25px;
    transition: var(--transition);
    opacity: 0;
    margin-bottom: 30px;
}

.team-member:hover .team-member-content {
    opacity: 1;
    bottom: 0;
    transition: var(--transition);
}

/*TEAM SECTION END   */

/*CONTACT SECTION START   */
.contact-section {
    position: relative;
    z-index: 2;
    overflow: hidden;
}

.contact-section::after {
    content: "";
    width: 100%;
    height: 70%;
    background: linear-gradient(rgba(48, 112, 144, 0.5), rgba(0, 0, 0, 0.5)), url(../images/conter-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

}

.contact-section .form-control:focus {
    box-shadow: none;
    border-color: var(--c-brnad);
}

/*CONTACT SECTION END   */

/*BLOG SECTION END   */
.blog-section{
    overflow: hidden;
}
/*BLOG SECTION END   */



/*FOOTER SECTION START   */
.footer-section{
    overflow: hidden;
}
footer{
    padding-top: 100px;
}
.footer-top{
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-bottom{
    padding-top: 40px;
    padding-bottom: 40px;
}
footer li,
footer p,
footer a {
    color: rgba(255, 255, 255, 0.7)
}

footer .line {
    width: 40px;
    height: 4px;
    background-color: var(--c-brnad);
    margin-top: 12px;
    margin-bottom: 24px;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
footer li{
    margin-bottom: 8px;
} 
.social-icons a{
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center; 
    background-color: rgba(255, 255, 255, 0.1); 
    border-radius: 100px;
}
.social-icons a:hover{
    background-color: var(--c-brnad);
    color: var(--white-color); 
}
/*FOOTER SECTION END */